* {
    margin: 0;
    padding: 0;
    ;
}

body {
    font-family: Roboto, monospace, sans-serif;
    box-sizing: border-box;

}

/* Top section */

.top-container {
    background-color: #1f2937;
    padding: 3vh 15vw 100px 15vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.top-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

.top-main {
    display: flex;
    margin-top: 10vh;
    justify-content: space-between;
    gap: 10vw;
}

.top-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.top-btn {
    align-self: flex-start;
    font-size: 24px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
}

.top-img {
    height: 300px;
    width: auto;
}

.top-credit {
    color: #e5e7eb;
    font-size: 12px;
    text-align: center;
}

/* Top section commons */

a,
.top-text {
    font-size: 18px;
    color: #e5e7eb;
}

/* Mid Section  */

.mid-container {
    padding: 50px 15vw 100px 15vw;
    height: auto;

}

.mid-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.mid-info {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    
}

.mid-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.mid-img {
    border-radius: 10px;
    border: 5px solid #3882f6;
    display: block;
    height: 200px;
    width: 200px;
    flex: 0 0 auto;
}

.mid-text {
    margin-top: 10px;
    text-align: center;
    color: #1f2937;
}

/* Quote section */

.quote-container {
    background-color: #e5e7eb;
    padding: 100px 15vw 100px 15vw
}

.quote-card {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
}

.quote-credit {
    align-self: flex-end;
    color: #1f2937;
    font-weight: bold;
    font-size: 24px;
}